img{
    max-height: 150px;
    width: auto;
}

.header{
    padding: 50px;
    padding-bottom: 0px;
}
.footer{
    padding: 20px;
}

body{
    height:100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(71, 71, 71);
}

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.scoreboard{
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.scoreboard > div{
    flex: 1;
    align-self: center;
}

.score{
    font-size: xx-large;
    font-weight: 900;
}

.cards > img:hover{
    scale: 1.1;
    transition: 0.2s;
    cursor: pointer;
}

.current-hand{
    display: flex;
}

#player-hand, #computer-hand{
    border: 2px solid white;
    padding: 20px;
    margin: 10px;
    height: 30px;
    width: 50px;
}